/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 5, 2015, 11:56:54 AM
    Author     : Mirage
*/

body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#mapContainer{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

#googleMapContainer{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8;
    height: 100vh;
    width: 100vw;
}

#svgMap{
    background-color: #BADDFF;
    position: absolute;
    top: 0;
    left: 0;
}

#toolContainer{
    padding: 10px;
    position: absolute;

    border: 2px solid;
    z-index: 50;
    width: 20vw;
    height: 80%;
    top: 10%;
    left: 78vw;
    max-width: 300px;
    max-height: 520px;
    /* display: inline-block; */
    /* vertical-align: middle; */
    background-color: rgba(50,50,50,0.8);
    overflow-y: scroll;
}

#toolAnimContainer{
    padding: 10px;
    position: absolute;

    //border: 2px solid;
    z-index: 48;
    width: 20vw;
    height: 80%;
    top: 10%;
    left: 78vw;
    max-width: 300px;
    max-height: 520px;
    pointer-events: none;
}


#debugContainer{
    display: none;

}

.subContainer{
    border: 2px solid #0A68E2;
    padding: 5px;
    margin: 2px 0px;
}

.toolButton {

    border: none;
    //box-shadow: 0px 2px 0px red;*/
    font-family: sans-serif;

    margin: 1px;
    color: white;
    font-size: 12px;
    background: rgba(13,135,233,1);
    padding: 5px 5px 5px 5px;
    text-decoration: none;
    transition: background-color 0.2s ease;
}

.toolButton:hover {
    background: #0a68b4;
    text-decoration: none;
}

#selectBaseMap{
    min-width: 100px;
}


#dataHintContainer{
    padding: 10px;
    position: absolute;

    border: 2px solid;
    z-index: 50;
    width: 15%;
    height: 5%;
    top: 5%;
    left: 2%;
    display: table;
    background-color: rgba(50,50,50,0.8);
}

#dataHintText{
    color: white;

    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 14px;
    font-family: sans-serif;
}

#staticImage{
    display: none;

}

.toolLabel{
    font-family: sans-serif;
    font-size: 14px;
    color: white;
    padding-right: 4px;
}

#toolHeading{
    /* display: block; */

}

#toolHeadingLabel{
    font-family: sans-serif;
    font-size: 18px;
    color: white;
    //text-align: center;
    display: block;
    width: inherit;
    text-align: center;
}

#toolSlde{
    height: 20px;

    width: 20px;
    display: block;
    background-color: rgba(50,50,50,0.8);
    border: 1px solid black;
    color: white;
    text-align: center;
    padding-bottom: 2px;
    float: left;
    margin-left: -30px;
    margin-top: -10px;
    pointer-events: auto;
}

#toolSlde:hover{
    background-color: rgba(0,0,0,1);
}

.toolContainerLabel{
    display: block;

    font-size: 16px;
    color: white;
    font-style: oblique;
    text-align: left;
    padding: 0 0 4px 0;
}

.fileInput{
    color: white;

    padding-bottom: 2px;
}

#hiddenContainer{
    position: absolute;
    visibility: hidden;
}

.sliderInput{
    height: 10px;
}


#toolHelp{
    position: absolute;
    height: 19px;
    width: 20px;
    display: block;
    background-color: rgba(50,50,50,0.8);
    border: 1px solid black;
    color: white;
    text-align: center;
    padding-bottom: 2px;
    margin-left: -11px;
    margin-top: -11px;
    pointer-events: auto;
    font-weight: bold;
    cursor: help;
}

#toolHelp:hover{
    background-color: rgba(0,0,0,1);
}

.dropdownFilter{
    margin-left: 10%;
    width: 90%;
}

#filterTable{
    width: 100%;
}

#filterTable tr{

}

#filterTable td{
    padding-bottom: 2px;
}

#welcomeHeaing{
    padding: 2px;
    position: absolute;
    border: 2px solid black;
    z-index: 80;
    width: 40vw;
    height: 26%;
    top: 30%;
    left: 26vw;
    background-color: rgba(50,50,50,0.8);
    box-shadow: 0 0 10px black;
    text-align: center;
    font-variant: small-caps;
    font-family: sans-serif;
    color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: default;
}